<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
        <div class="card-1">Header </div>
        <div class="card-2">Menu</div>
        <div class=" card card-3">Footer</div>
        <div class=" card card-4">Sidebar</div>
        <div class="card-5">Main</div>

</body>
</html>