<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Layout avec Grid</title>
  </head>
  <body>
    <div class="content-wrapper">
      <header class="header">
          Header
        </header>
      <nav class="nav">
        <ul>
          <li><a href="">Acceuil</a></li>
          <li><a href="">A propos</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <article class="content">
        <h1>Main content</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          quaerat mollitia dignissimos illo. Illo, fuga quas assumenda labore,
          modi cum saepe quam sed, qui pariatur provident consequatur minima ut
          eaque.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
        excepturi nemo ut fugit eligendi vel animi autem sunt assumenda,
        doloribus quaerat, nihil, perspiciatis doloremque sapiente. Voluptatum
        recusandae neque facilis? Dicta!
    </p>

      </article>
      <aside class="sidebar">
          Siderbar
      </aside>
      <div class="ads">
        Publicité
      </div>
      <footer class="footer">
          Footer
        </footer>
    </div>
  </body>
</html>
